/* @import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bebas+Neue&family=Lobster+Two&display=swap"); */

/* @font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "AdelleSansEXT";
  src: url("../public/fonts/AdelleSansEXT-Regular.woff") format("truetype");
} */
